<div class="searchResult">
    <div class="summaryTitle">Booking Confirmed</div>
    <div class="table-item">
        <div class="table" *ngFor="let booking of bookings index as i">
            <div class="row-q">
                <div class="booking-ref"  *ngIf="i==0 && booking.bookingStatus!=='Cancelled'">Current Order Number : {{booking.id}}</div>
                <div class="booking-ref"  *ngIf="i>0 && booking.bookingStatus!=='Cancelled'">Previous Order Number : {{booking.id}}</div>
                <div class="cancel-booking-ref"  *ngIf="booking.bookingStatus==='Cancelled'">Booking Cancelled : {{booking.id}}</div>
                <div class="first-row">
                    Total : &#x20b9;{{booking.fare}}
                </div>
                <div class="first-row">
                    From {{booking.bus.route.source}} To {{booking.bus.route.destination}}
                </div>
                <div class="first-row">
                    Date : {{booking.bus.route.dateOfJourney}}
                </div>
                <div class="cell-q" *ngIf="booking.bookingStatus !== 'Cancelled'">
                    <button class="custom-btn btn-16" (click)="cancelbooking(booking.id)" >Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
