<div class="searchBus">
<div class="busTitle">Search for Buses</div>
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)"  class="example-form">
        <div class="example-full-width">
            <input type="text" class="form-control"  id="source" required [(ngModel)]="bus.route.source" name="source" placeholder="From*" >
        </div>

        <div class="example-full-width">
            <input type="text" class="form-control"  id=destination required [(ngModel)]="bus.route.destination" name="destination" placeholder="To*" >
        </div>
        <div class="example-full-width">
          <input placeholder="Date of Journey" class="form-control" type="text" onfocus="(this.type='date')" id="sourceTiming" [ngModel]="bus.route.sourceTiming | date:'y-MM-dd'" name="sourceTiming" >
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
  
